#
# BT config
#
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n

#
# ESP32-specific config
#
CONFIG_ESP32_ENABLE_STACK_BT=y
# CONFIG_ESP32_ENABLE_STACK_NONE is not set
CONFIG_MEMMAP_BT=y

CONFIG_LMIC_DEBUG_LEVEL=2
CONFIG_LMIC_FEATURE_BEACONS=n
CONFIG_LMIC_FEATURE_PING=n
CONFIG_ESP32_RTC_CLK_SRC="Internal 150kHz oscillator"
# ESP32_RTC_CLK_SRC_INT_RC
